
.form-control{
        padding: 10px;
        border-radius: 5px;
        background-color: rgba(155, 152, 152, 0.5);
    }

.loginbtn{
       background-color:#F97316;
       color: white;
       margin:0px;
       padding:10px 50px;
       border:none;
       border-radius:5px;
       font-size:20px;
       cursor:pointer;
       width:100%;
    }

.loginbtn:hover {
        transform: translateY(-2px);
        box-shadow: 0 5px 15px rgba(249, 115, 22, 0.4);
        color: white;
    }

.show-pass {
    margin-top: 5px;
    cursor: pointer;
        font-size: 14px;
        color: #F97316;
    }