
        .signupbtn {
            background-color: #F97316;
            padding: 10px 50px;
            border: none;
            border-radius: 5px;
            color: white;
            transition: 0.3s;
        }

        .loginbx:hover {
            transform: translateY(-2px);
            box-shadow: 0 5px 15px rgba(249, 115, 22, 0.4);
            color: black;
        }

        .signupbtn:hover {
            transform: translateY(-2px);
            box-shadow: 0 5px 15px rgba(249, 115, 22, 0.4);
            color: white;
        }

        .form-control {
            padding: 10px;
            border-radius: 5px;
            background-color: rgba(155, 152, 152, 0.3);
        }



        body {
            background-color: #1F2937;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            
            background-size: cover;
            background-position: center;
        }

        .message {
            color: red;
            font-weight: bold;
        }
